* {
    margin: 0px;
    padding: 0px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sad_pizza {
    display: block;
    background-image: url(../../assets/img/pizzatriste.png);
}